---
title: Blog
---

<h1>Evbogue.com</h1>

<p><a href="http://evbogue.fetchapp.com/sell/aipahcoo"><img src="http://static.evbogue.com/privacy.jpg" style="width: 50%; float: right; margin-left: 1em; clear: left; margin-top: -4em; margin-bottom: 1em; max-width: 200px;" /></a></p>

<p><strong>Launch sale!</strong> Get Pretty Fuckin' Good Privacy for only &#36;24 until July 14 at 2pm Mexico City time. Buy now, save &#36;11.

<p>
<a href="http://evbogue.fetchapp.com/sell/aipahcoo">
<button>Buy Now
</button></a>
</p>

<h4>Last 5 posts</h4>

$partial("templates/post-list.html")$

<h4>Top 5 posts</h4>

<ul>
	<li><a href="../notpresident/">God damnit, I don't want to (have to) run for president of Los Estados Unidos</a> - April 29, 2014</li>
	<li><a href="../168hourworkweek/">The 168 Hour Workweek</a> - April 15, 2014</li>
	<li><a href="../5000pesos/">I want to tell you about my 5000 peso apartment</a> - March 17, 2014</li>
	<li><a href="../modernblogging/">A brief guide to modern blogging</a> - December 10, 2013</li>
	<li><a href="../distributedeverything/">Distributed Everything</a> - June 26, 2013</li>

</ul>

<h4>Outbound links from today</h4>

<ul>
<li><a href="https://blog.torproject.org/blog/being-targeted-nsa">On being targeted by the NSA</a> [Tor Project Blog</li>
<li><a href="http://rt.com/news/170208-nsa-spies-tor-users/">Searching for Tor gets you on NSA 'extremist' list</a> [RT]</li>
</ul>
